# Logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
local
coverage
*.local
*.map
.tmp

/data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local environments
.env
.env.*.local

*.tsbuildinfo

test-results/
